body{
  margin :0;
}

.header{
  display: flex;
  background-color: #123456; 
  color: white;
  height: 3.5em;
}
.headerIcon{
  width: 2em;
  height: 2em;
  top: 22%;
  position: relative;
  left: 0.5em;
  -webkit-transform:rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

.pageTitle{
  position: relative;
  margin-left: 43%;
  top: 35%;
}

.body{
  margin-left: 50%;
  margin-top: 50%;
}

.middleContainer{
  margin-left:50%;
  width: 50%;
  background-color:black;
}
