@import 'header.scss';
@import 'sidebar.scss';
@import 'iss.scss';

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0px;
}

.mPageContent {
  margin: auto;
  width: 60%;
}

.mContentContainer {
  width: 90%;
  margin-left: 10%;
  height: 100%;
  overflow: hidden;
}
