@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');

@import 'header.scss';
@import 'sidebar.scss';
@import 'iss.scss';
@import 'autocomplete.scss';
@import 'card.scss';
@import 'tag.scss';

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0px;
  @include m-font-family;
}

.mPageContent {
  margin: auto;
  width: 60%;
}

.mContentContainer {
  width: 90%;
  margin-left: 10%;
  height: 100%;
  overflow-y: scroll;
}

.aboutContainer {
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: fit-content;
  margin: auto;
  padding: 2em;
  font-size: 1em;

  & > a {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
