@import 'header.scss';
@import 'sidebar.scss';
@import 'iss.scss';
@import 'autocomplete.scss';
@import 'card.scss';

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0px;
}

.mPageContent {
  margin: auto;
  width: 60%;
}

.mContentContainer {
  width: 90%;
  margin-left: 10%;
  height: 100%;
  overflow-y: scroll;
}

.aboutContainer {
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 5em;
  padding: 4em;
  font-size: 1.5em;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
