@import './_mixins';
@use "sass:string";

.mSidebar {
  background: #1b274d;
  height: 100%;
  width: 10%;
  float: left;
  position: absolute;
}

.mPhotoContainer {
  margin-top: 2em;
  text-align: center;
}

.mProfilePhoto {
  width: 60%;
  height: 5%;
  border-radius: 5em;
}

.mSidebarItemContainer {
  padding: 2em 0 0 2em;
  text-align: left;
  > a {
    @include m-font-family;
    text-decoration: none;
  }
}

.mSidebarItem {
  margin-top: 1em;
  font-size: 1.5rem;
  color: aliceblue;
}

@media only screen and (max-width: 1427px) {
  .mSidebar {
    width: 5%;
  }
  .mProfilePhoto {
    height: 3em;
  }
  .mSidebarItemContainer {
    display: none;
  }
}
