@import './_mixins';
@use "sass:string";

.mSidebar {
  background: #1b274d;
  height: 100%;
  width: 15%;
  float: left;
  position: absolute;
}

.mPhotoContainer {
  margin-top: 2em;
  text-align: center;
  cursor: pointer;
}

.mProfilePhoto {
  width: 50%;
  height: 5%;
  border-radius: 10em;
}

.mNameContainer {
  text-align: center;
  margin-top: 1em;

  &>a {
    text-decoration: none;
    color: white;
  }
}

.mSidebarItemContainer {
  padding: 2em 0 0 3em;
  text-align: left;

  >a {
    @include m-font-family;
    text-decoration: none;
  }
}

.mSidebarItem {
  margin-top: 1em;
  font-size: 1.5rem;
  color: aliceblue;
  cursor: pointer
}

.mSidebarBottom {
  position: absolute;
  bottom: 1em;
  margin-left: 1em;

  &>a {
    text-decoration: none;
    color: white;
  }
}

@media only screen and (max-width: 1427px) {
  .mSidebar {
    width: 10%;
  }

  .mProfilePhoto {
    height: 3em;
  }

  .mSidebarItemContainer {
    padding: 1em 0 0 1em;

    & div {
      font-size: 90%;
    }
  }
}

@media only screen and (max-width: 568px) {
  .mSidebar {
    height: 3.2em;
    width: 100%;

    
    .mPhotoContainer{
      text-align: left;
      margin-top: 0;
      .mProfilePhoto {
        width: 3em;
        height: 3em;

      }  
    }

    .mSidebarItemContainer {
      position: fixed;
      display: flex;
      top: 0.3em;
      left: 4em;
      padding: 0em;

      & div {
        font-size: 80%;
      }

      &>:nth-child(n+2){
        margin-left: 1em;
      }
    }

    .mSidebarBottom{
      float: right;
      right: 1em;
      top: 1em;
      left: 15em;
      padding: 0em;
      bottom: auto;
      margin: 0;
      text-align: right;
      a{
        color: white;
      }
    }
  }


  .mContentContainer{
    width: 100%;
    /* margin-left: 15%; */
    height: 100%;
    overflow-y: scroll;
  }
}